$black: #212121;
$dark-bg: #2F303A;
$white: #fff;
$light-bg: #F5F4FA;
$blue: #2196F3;
$grey: #757575;
$light-grey: #AFB1B8;

@keyframes slide {
    0% {
        transform: translate(-0px, 294px);
    }

    100% {
        transform: translate(-0px, 0px);
    }
}