body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: $black;
    background: $white;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.about__title,
.portfolio__title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section {
    padding: 94px 0;

    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        margin-bottom: 50px;
    }
}

@media(max-width: 1201px) {
    .section {
        padding: 60px 0;

        &__title {
            font-size: 28px;
        }
    }
}